<div id="user-form-email" class="field is-horizontal">
  <%= if get_field(@form.source, :has_email?) do %>
    <div class="field-label is-normal">
      <%= label @form, :email, class: "label" %>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= text_input @form, :email, class: "input" %>
        </div>
        <%= error_tag @form, :email %>
      </div>
    </div>
  <% end %>
</div>
