<h1><%= gettext("Dynamic Form") %></h1>

<%= form_for @changeset, form_path(@conn, :create), [id: "user-form"], fn f -> %>
  <div>
    <%= label f, :name %>
    <%= text_input f, :name %>
    <%= error_tag f, :name %>
  </div>

  <div>
    <%= label f, :gender %>
    <%= select f, :gender, gender_options() %>
    <%= error_tag f, :gender %>
  </div>

  <div>
    <%= label f, :has_email? %>
    <%= checkbox f, :has_email?, data: [frankt: [action: "form:update", target: "#user-form", auto: true]] %>
    <%= error_tag f, :has_email? %>
  </div>

  <%= render "_email.html", Map.put(assigns, :form, f) %>

  <%= submit "Create user" %>
<% end %>
