<table id="users" class="table is-striped is-fullwidth">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr>
        <th><%= user.id %></th>
        <td><%= user.name %></td>
        <td><%= user.gender %></td>
      </tr>
    <% end %>
  </tbody>
</table>
