<table id="users">
  <thead>
    <tr>
      <th>Name</th>
      <th>Gender</th>
    </tr>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr>
        <th><%= user.name %></th>
        <th><%= user.gender %></th>
      </tr>
    <% end %>
  </tbody>
</table>
