<h1><%= gettext("Chat over Frankt") %></h1>

<div id="chat">
  <%= render "_message.html", sender: "SYSTEM", message: "Connecting..." %>
</div>

<%= form_for @conn, nil,  [id: "chat-form", as: :chat, csrf_token: false],  fn f -> %>
  <%= label f, :sender %>
  <%= text_input f, :sender %>

  <%= label f, :message %>
  <%= textarea f, :message %>

  <%= submit "Send!", data: [frankt: [action: "chat:send", target: "#chat-form", topic: "chat:lobby"]] %>
<% end %>
