<h1 class="title"><%= gettext("Greeting") %></h1>

<%= form_for @conn, nil,  [id: "greet-form", as: :greet, csrf_token: false],  fn f -> %>
  <div class="field has-addons">
    <div class="control">
      <%= text_input f, :name, class: "input", placeholder: gettext("Say your name...") %>
    </div>
    <div class="control">
      <%= submit "Greet!", class: "button is-primary", data: [frankt: [action: "greeting:greet", target: "#greet-form"]] %>
    </div>
  </div>
<% end %>

<%= render "_greeting.html" %>
